.square-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  &:hover > :not(:hover) {
    opacity: 0.5;
  }

  & div {
    max-width: 11rem;
    width: 100%;
    max-height: 12.9rem;
    height: 100%;
    transition: transform 0.5s ease;
    border-radius: 0.35rem;

    & div p:nth-child(2) {
      font-size: clamp(1rem, 2vw, 1.2rem);
    }

    & div p:nth-child(3) {
      font-size: clamp(0.9rem, 2vw, 1rem);
    }

    &:hover {
      transform: scale(1.04);
    }
  }
}

.fare-info {
  display: flex;
  justify-content: center;

  & > div.img-fare {
    max-width: 45rem;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .carrusel-card_mobil {
    display: block;
  }
}

@media (min-width: 580px) {
  .carrusel-card_mobil {
    display: none;
  }
  .square-info {
    & div {
      max-width: 17rem;
      max-height: 12.9rem;
    }
  }
}

@media (min-width: 580px) and (max-width: 780px) {
  .square-info {
    & div {
      max-width: 14rem;
      max-height: 12.9rem;
    }
  }
}

.linear-gradient {
  background: radial-gradient(
    circle,
    rgba(19, 72, 126, 1) 21%,
    rgba(19, 72, 126, 1) 33%,
    rgba(1, 31, 55, 1) 66%,
    rgba(1, 31, 55, 1) 100%
  );
  padding: 20px;

  & div div.titulo {
    /* mb-5 text-left text-white lh-1 */
    margin-bottom: 1.5rem;
    color: #ffffff;
    font-size: 2.5rem;
  }
}

.titulo-black {
  /* mb-5 text-left text-white lh-1 */
  color: #6d6e71;
  font-size: 2.5rem;
}

.verde-rent {
  color: #7baf44;
}

.promobox {
	background-color: #54a734;
	padding: 50px 20px;
}

.promobox h3 {
	color: #FFFFFF;
	text-align: center;
}
