.join-button_us {
  background-color: #7baf45;
  color: white;
  border: 1px solid white;
  border-radius: 50rem;
  cursor: pointer;
  text-align: center;
  padding: 0.85rem 2rem;
  max-width: 250px;
  transition:
    color 0.4s ease-in,
    background-color 0.5s ease;
  &:hover {
    color: #7baf45;
    background-color: #ffffff;
  }
}
